/**
 * SVG markup
 */
.dbg-step-active .djs-visual > :first-child {
  stroke: rgb(82, 180, 21) !important;
}

/**
 * HTML controls
 */
.dbg-controls,
.dbg-controls > .resume,
.dbg-controls > .step {
  display: none;
}

.dbg-controls > .resume,
.dbg-controls > .step {
  margin: 5px;
  cursor: pointer;
}

.dbg-controls {
  background: #EEE;
  border-radius: 5px;
  white-space: nowrap;

  font-size: 20px;
}

.dbg-breakpoint-active .dbg-controls,
.dbg-step-active .dbg-controls,
.hover .dbg-controls,
.dbg-controls:hover {
  display: block;
}

.dbg-controls > * {
  display: inline-block;
  color: #BBB;
}

.dbg-controls > *:hover {
  color: #333;
}

.djs-overlay .dbg-breakpoint .dbg-handle {
  fill: none;
}

.dbg-breakpoint-active-before .dbg-breakpoint.before .dbg-handle,
.dbg-breakpoint-active-after .dbg-breakpoint.after .dbg-handle {
  fill: #b5152b;
}

.djs-overlay-debug-break-before .dbg-handle:hover,
.djs-overlay-debug-break-after .dbg-handle:hover {
  fill: #333;
}

.dbg-step-active .dbg-controls > .resume,
.dbg-step-active .dbg-controls > .step {
  display: inline-block;
}

.dbg-breakpoint {
  pointer-events: none;
}

.dbg-breakpoint .dbg-handle {
  pointer-events: all;
}

.dbg-breakpoint.after .dbg-handle {
  transform: rotate(90deg) translate(0,-20px);
}