/**
 * SVG markup
 */
.dbg-step-active .djs-visual > rect,
.dbg-step-active .djs-visual > polygon,
.dbg-step-active .djs-visual > path,
.dbg-step-active .djs-visual > circle {
  stroke: rgb(82, 180, 21) !important;
}

.dbg-step-active .djs-visual > path {
  fill: rgb(82, 180, 21) !important;
}

/**
 * HTML controls
 */
.dbg-controls,
.dbg-controls > .play {
  display: none;
}

.dbg-controls > .play,
.dbg-controls > .break {
  margin: 5px;
  cursor: pointer;
}

.dbg-controls {
  background: #EEE;
  border-radius: 5px;
  white-space: nowrap;

  font-size: 15px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.dbg-breakpoint-active .dbg-controls,
.dbg-step-active .dbg-controls,
.hover .dbg-controls,
.dbg-controls:hover {
  display: block;
}

.dbg-controls > .break {
  border-radius: 20px;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: bottom;
  background: #BBB;
}

.dbg-breakpoint-active .dbg-controls > .break {
  background: rgb(226, 52, 52);
}

.dbg-step-active .dbg-controls > .play {
  display: inline-block;
}